<div class="guInteractive {{style}}">
    <div id="interactiveWrapper">
    {{#isWeb}}
    <header>
        <h2>{{title}}</h2>
        <h3 class="highlight-colour">{{subtitle}}</h3>
        <h4>{{{standfirst}}}</h4>
        <div id="share-buttons">
            <div class="share-button share-twitter"></div>
            <div class="share-button share-facebook"></div>
        </div>
    </header>
    {{/isWeb}}
    
        <div id="rows">
            {{#rows}}
                <div class="rowContainer {{align}} {{rowClass}}" id="{{id}}" data-row="{{id}}">
                    {{#isRow}}
                    <img src="{{assets}}/imgs/empty.gif" data-clr="{{clr}}" data-echo="{{assets}}/imgs/real/{{id}}-{{screenSize}}.jpg" />
                    <div class="rowInformation">
                        <div class="rowMeta">
                            <h5 class="highlight-colour">{{name}}</h5>
                            {{#subhead}}
                            <h6>{{{subhead}}}</h6>
                            {{/subhead}}
                        </div>
                        <div class="rowDescription">
                            <div class="descriptionShort">
<!--                                 {{#excerpt}}
                                    <p class="gv-quote highlight-colour">{{{.}}}</p>
                                {{/excerpt}} -->
                                    <p class="firstPar">{{firstParagraph}}</p>
                                <button class="collapseButton" data-toggle="readMore" data-row="{{id}}">Read more</button>
                            </div>
                            <div class="descriptionLong">
                                {{#fulltext}}
                                    <p>{{{.}}}</p>
                                {{/fulltext}}
                                {{#info}}
                                <h6 class="caption secondary">{{{info}}}</h6>
                                {{/info}}
                                <button class="collapseButton" data-toggle="readLess" data-row="{{id}}">Close</button>
                            </div>
                        </div>
                        {{/isRow}}
                    </div>
                    {{^isRow}}
                    <div class="rowInformation {{rowClass}}">
                        <div class="rowMeta">
                            <h5>{{subhead}}</h5>
                        </div>
                        <div class="rowDescription">
                            <div class="descriptionLong">
                                {{#fulltext}}
                                    <p>{{{.}}}</p>
                                {{/fulltext}}
                                {{#info}}
                                <h6 class="caption secondary">{{{info}}}</h6>
                                {{/info}}
                            </div>
                        </div>
                    </div>
                    {{/isRow}}
                </div>
            {{/rows}}
        </div>

        <footer>
        <p class="credits">{{credits}}</p>
        </footer>
    </div>
</div>