// image size - big: 
// 1300, 660 

// image size - small: 
// 660, 660


.guInteractive{
	padding:1px 0;
	// background:#000;
	color:#f4f4f4;
	#interactiveWrapper{
		padding:0 10px;
	}
	&.light{
		background: #fff;
		color: #535353;

		a{
			color:#005689;
			text-shadow:none !important;
			background:none !important;
		}

		h5, h6 {
			color: #333;
			&.caption {
				&.secondary {
					color: #767676;
				}
			}
		}

		.rowContainer,
		.align-left .rowInformation,
		.align-right .rowInformation {
			background: #f8f8f8;
			background: #f4f4f4;
		}


		.collapseButton {
			color: #333;

			&:hover{
				background:#005689;
				color: #fff;
			}
		}
	} // light template

	a{
		color:#f4f4f4;
		text-shadow:none !important;
		background:none !important;
	}
	header{
		max-width:620px;
		margin-top:30px;
	}
	*{
		box-sizing:border-box;
	}

	h1,h2,h3,h4,h5,h6{
		font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
	}
	h2{
		font-size:42px;
		line-height:1em;
		margin-bottom:0;
	}
	h3{
		color:#767676;
		line-height:1.2em;
		margin-top:0;
		font-size:30px;
		font-weight:bold;
		margin-bottom:1.2em;
	}
	h4{
		font-weight:normal;
		font-size:21px;
		line-height: 1.5em;
		margin:0;

	}
	.descriptionShort p:first-child, .descriptionLong p:first-child{
		margin-top:0;
	}
	.descriptionShort {
		max-width:620px;
		p{
			font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
			font-size: 30px;
			font-weight: 100;
			color:#767676;
			line-height: 1.2em;
			margin:0;
		}
		
		.firstPar{
			font-family:"Guardian Text Egyptian Web", "Guardian Egyptian Web", serif;
			font-size:16px;
			line-height:1.5em;
			color:#fff;
			margin-top:18px;

		}
	}

	#rows{
		position:relative;
	}

	.rowContainer{
		// background:#63717a; // 1a1a1a
		margin-top:40px;
		a{
			text-decoration:underline;
			&:hover{
				color:#dfdfdf;
			}
		}
		img{
			width:100%;
			opacity: 0;
			transition: opacity 0.3s ease-out;
			&.img-loaded {
				opacity: 1;
			}
		}
		.descriptionLong{
			display:none;
		}
		
		&.active{
			.descriptionShort .collapseButton{
				display:none;
			}
			.descriptionLong{
				display:block;
				margin-top:12px;
				max-width:620px;
				h6{
					font-size:12px;
					margin:0;
				}
			}
		}
	}
	.rowInformation{
		padding: 0;

		h5{
			margin:0;
			font-size:30px;
			line-height:1.2em;
		}

		&.outro {
			max-width: 1120px;
			margin: 0 auto;
			padding: 30px 0px;
			border-top: 1px solid rgba(255,255,255,0.4);

			h5{
				margin:0;
			}

			.rowDescription {
				max-width: 620px;
				.descriptionLong {
					p strong {
						display: block;
						margin-bottom: 8px;
						padding-top: 24px;
					}
				}
			}
		}
	}

	.align-left,
	.align-right {
		.rowInformation{ 
			.rowMeta { border-top: 0; }
		}
	}

	footer{
		margin-bottom:60px;
		font-weight:bold;
	}

	.rowMeta{
		margin: 6px 0 0;
		padding-top: 0px;
	}
	.collapseButton{
		border:2px solid #D0D0D0;
		border-radius:40px;
		height:30px;
		background:transparent;
		color:#D0D0D0;
		font-family:'Guardian Text Sans Web','Agate Sans',sans-serif;
		font-weight:bold;
		font-size:12px;
		padding:0 12px;
		display:block;
		outline:none;
		cursor:pointer;
		transition: background 0.5s;
		line-height:normal;
		margin-top:12px;

		&:hover{
			background:#fff;
			color:#333;
		}
	}
	#share-buttons{
        line-height:0;
        font-size:0;
        display:inline-block;
        vertical-align: top;
        margin-top:12px;
    }
    .share-button{
        width:30px;
        height:30px;
        border-radius:40px;
        border:none;
        outline: none;
        background: #555;
        background-position: center;
        background-repeat: no-repeat;
        cursor:pointer;
        background-size:28px;
        margin-right: 4px;
        display:inline-block;
        margin-top:0;
        &.share-twitter{
            background-image: url(../imgs/twitter.svg);
        }
        &.share-facebook{
            background-image: url(../imgs/facebook.svg);
        }
        &:hover{
            background-color:#555;
        }
    }
	@media(min-width:480px){
		header{
			margin-bottom:60px;
		}
		h2{
			font-size:48px;
		}
		h3{
			font-size:36px;
		}
		#interactiveWrapper{
			padding:0 20px;
		}
		.share-button{
	        width:36px;
	        height:36px;
	        background-size:32px;
	    }
	}
	@media(min-width:740px){
		#interactiveWrapper{
			max-width:740px;
			margin:0 auto;
		}
		header{
			margin-top:60px;
		}

		h2{
			font-size:66px;
		}
		h3{
			font-size:42px;
		}
		h4{
			font-size:24px;
		}

		.rowContainer{
			margin-top:60px;
		}
		.rowInformation{
			h5{
				font-size:42px;
			}
		}

		.rowMeta{
			margin: 12px 0 0 0;
		}

		.descriptionShort p {
			font-size: 42px;
		}
		.collapseButton{
			font-size:14px;
			height:36px;
			padding:0 20px;
		}
		.rowContainer.active .descriptionLong h6{
			font-size:14px;
		}
	}

	@media(min-width:980px){
		#interactiveWrapper{
			max-width:980px;
		}
		header{
			margin-bottom:90px;
			max-width:540px;
			&:after{
				margin-top: 60px;
				height:4px;
				width:140px;
				background:#fff;
				display:block;
				content:''
			}
		}
		.rowContainer{
			margin-bottom:90px;
		}
		.collapseButton{
			margin:24px 0 0;
		}

		.rowInformation h6{
			margin-top:1em;
			&.caption{
				margin-bottom:1em;
			}
		}
		.descriptionShort{
			.firstPar{
				margin-top:30px;
			}
		}
		.align-full{
			.rowInformation{
				margin:0 auto;
				overflow:hidden;
			}
			
			.rowMeta{
				margin-top:12px;
			}

			&.active{
				.descriptionShort{
					// display:none;
				}
				.descriptionLong{
					display:block;
				}
			}
			
		}

		.align-left {
			.rowInformation{ padding:0px 0px 0 20px; }
		}
		.align-right {
			.rowInformation{ padding:0px 20px 0 0px; }
		}

		.align-left,.align-right{
			overflow:hidden;
			max-width:1120px;
			position:relative;
			img{
				width:540px;
			}
			.descriptionLong{
				height:0;
				opacity:0;
				display:block;
				overflow:hidden;
				transition:width 1s;
			}
			.rowInformation{
				top:0;
				right:0;
				// background:#63717a; // 1a1a1a
				float:left;
				width:400px;
			}
			.rowMeta{
				margin:0
			}
			&.active{
				z-index:100;
				img{
					-webkit-animation:shrink 1.5s;
					width:380px;
				}

				.rowInformation{
					-webkit-animation:fadeout 1.5s,grow 1.5s;
					width:560px;
					.descriptionLong{
						-webkit-animation:add 1.5s;
						height:auto;
						opacity:1;
					}
				}
			}
			
		}
		.align-left{
			img{
				float:left;
			}
		}
		.align-right{
			img{
				float:right;
			}
		}
	}
	@media(min-width:1140px){
		#interactiveWrapper{
			max-width:1140px;
		}
		header{
			max-width:620px;
		}
		.rowContainer{
			margin-bottom:120px;
		}
		#rows{
			max-width:1140px;
		}
		.align-left,.align-right{
			img{
				width:620px;
			}
			.rowInformation{
				width:480px;
			}
			&.active{
				img{
					-webkit-animation:shrinkbig 1.5s;
					width:460px;
				}

				.rowInformation{
					width:640px;
					-webkit-animation:fadeout 1.5s,growbig 1.5s;
				}
			}
		}
		
	}

	@media(min-width:1300px){
		#interactiveWrapper{
			max-width:1300px;
			padding:0 100px;
		}
	}
}

@-webkit-keyframes shrink{
	0%{width:540px}
	30%{width:380px}
}
@-webkit-keyframes shrinkbig{
	0%{width:620px}
	30%{width:460px}
}

@-webkit-keyframes grow{
	0%{width:400px}
	30%{width:560px;}
}
@-webkit-keyframes growbig{
	0%{width:480px}
	30%{width:640px;}
}

@-webkit-keyframes fadeout{
	0%{	opacity:1;}
	10%{opacity:0;}
	25%{opacity:0}
	70%{opacity:1}
}
@-webkit-keyframes remove{
	0%{height:auto;}
	29%{height:auto;}
	30%{height: 0;}
}

@-webkit-keyframes add{
	0%{height:0; opacity:0;}
	29%{height:0; opacity:0;}
	30%{height:auto; opacity:1;}
}


